@import "tailwindcss";

@theme inline {
  --color-background-sidebar: rgb(47, 47, 47);
  --color-background-main: rgb(38, 38, 38);

  --color-text-secundary: rgb(255, 127, 116);

  /* --color-hover-primary: rgba(226, 226, 226, 0.8);
  --color-hover-secundary: rgba(226, 226, 226, 0.6); */

  --color-text-sidebar: #e2e2e2;
  --color-text-main: #e2e2e2;
}

body {
  color: var(--color-text-main);
}

button {
  cursor: pointer;
}